#left-up-text{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: black;
    margin-top: 0px;
    color: white;
    padding-top: 10px;
    padding-left:50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0px;
}

h3{
    color: rgb(66, 64, 64);
    font-size: 1.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main{
    position: relative;
    margin-top:32px;
    left: 380px;
}

.long{
    position: relative;
    width: 40%;
    height: 22px;
}

.hot_string{
    margin-left: 40px;
    padding:16px;
    font-size: 18px;
}

#actbut{
    margin-left:20px;
    width: 75px;
    height: 64px;
    font-size:19px;
    background-color: rgb(9, 146, 244);
    color:white;
    border: 1px outset white;
    border-radius: 7px;
}

#actbut:hover{
    background-color: rgb(9, 120, 220);
    cursor: pointer;
}

#actbut:active{
     border-width: 0px;
     background-color: rgb(9, 136, 230);
}

.task{
    position: relative;
    width: 100%;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    height: 40px;
    font-size: 1.4em;
}

.task label{
    margin-left: 30px;
    margin-top: 6px;
}

#task-box{
    width: 60%;
    margin-top: 50px;
    
}

.delete{
    position: absolute;
    left: 890px;
    margin: 0px;
    color: white;
    background-color: red;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-right: 12px;
}

.task input:checked{
    background-color: blue;
}

.task input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-top: 9px; 
}

.task input[type="checkbox"]:checked {
  background-color: #0b54c3;
  border-color: #0b69c1;
}

.task input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  color: white;
  font-size: 14px;
  left: 3px;
  top: -1px;
}

.task input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #777;
}