
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 100%;
    gap: 8px;
}

ul li{
    display: block;
    border: 1px outset black;
    border-radius: 8px;
}

button{
    color:rgb(134, 131, 131);
    width: 100%;
    background-color: rgb(40, 37, 37);
    border-radius: 8px;
}

li.activated{
    border: 1px inset black;
    border-radius: 8px;
    background-color: rgb(135, 132, 132);
}

li.activated button{
    color: black;
    background-color: rgb(135, 132, 132);
}